<%=form_for @user, url: users_login_url, remote: true do |f| %>
  <div class="filed">
    <%= f.label "Login" %>
    <%= f.text_field :login %>
  </div>
  <div class="filed">
    <%= f.label "Password" %>
    <%= f.password_field :password, type: :password%>
  </div>
  <div class="filed">
    <%= f.submit "Log in" %>
  </div>
<%end %>

<%= link_to 'Sign up', users_register_url %>